# =========================
# Dependencies
# =========================
node_modules
.pnp
.pnp.js
.yarn/install-state.gz


# =========================
# Next.js
# =========================
.next
out
build
dist
next-env.d.ts
*.tsbuildinfo


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example
!.env.production.example


# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =========================
# PostgreSQL / Database backup
# =========================
*.sql
*.dump
*.backup
*.bak


# =========================
# Prisma
# =========================
prisma/*.db
prisma/*.db-journal


# =========================
# Docker / local data
# =========================
docker-data
postgres-data
pgdata
data


# =========================
# Deployment / platform
# =========================
.vercel
.netlify


# =========================
# OS files
# =========================
.DS_Store
Thumbs.db


# =========================
# IDE / Editor
# =========================
.vscode
.idea


# =========================
# Certificates / secrets
# =========================
*.pem
*.key
*.crt


# =========================
# Misc
# =========================
.abacus*

# Uploads
next_space/public/uploads/**/*
!next_space/public/uploads/**/.gitkeep